<div class="container-fluid center blue darken-4">
  <br>

</div>
<div class="container-fluid center blue darken-3 white-text">
    <br>

<h1>Static#features</h1>
</div>

  <div id="player"></div>
  <script>
    var player = new Clappr.Player({source: "audio/1.mp3", parentId: "#player"});
  </script>
